/*------------------------------------- CSS GENERAL ---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo-negro.jpeg);
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*------------------------------------- HEADER ---------------------------------------------------*/
.logo-img {
    display: flex;
    width: 100px;
    height: 100;                     /* el logo */
    margin: 10px;
    padding: 10px;
}

nav {
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* nav ul.ul-logo {
    float: left;                                  /*sacaar
} */

.ul-buscador {
    display: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* nav ul.ul-menu {
    float: right;                               /*sacaar
} */

nav ul li {
    margin: 0;
    padding: 15px 12px 0 12px;
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 60px;
}

nav ul li a {
    color: rgb(8, 0, 0);
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 130px;
}

.header-section-form {
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    height: 80px;
    background-color: #9c27b0;
    margin: 5px;
    -webkit-box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
    box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
}

.header-section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 20px;
}

.logo-img {
    display: flex;
    width: 100px;
    height: 100;
    margin: 10px;
    padding: 10px;
}

.header-section-nav {
    display: flex;
    align-items: center;
}

#search-form {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 500px;
    font-family: "garet", "sans-serif";
    height: 40px;
    border-radius: 30px;
}

#search-button {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

/*----------- BOTON MODO OSCURO MODO CLARO --------*/
#modo-oscuro {
    background-color: white;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 4px 4px 6px #cecece;
    margin-top: 25px;
    cursor: pointer;
}

.boton-modo-oscuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #c385ce;
    border-radius: 25px;
    transform: scale(.7);
    box-shadow: 3px 3px 8px rgb(125, 15, 165),
        -3px -3px 8px rgb(235, 210, 245);
}

#modo-oscuro .active .boton-modo-oscuro {
    left: 40px;
}



/* --------------------------- BODY ----------------------------------- */
body .active {
    background-image: url(../img/fondo-blanco.jpeg);
    /* margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif; */
}


.canciones {                        /* este justo no se que hace */
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

/*--------------------------- TITULOS DEL BODY --------------------------------------------*/
.tituloCancion {
    background-color: white;
    margin: 15px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.tituloAlbum {
    background-color: white;
    margin: 15px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.tituloArtista {
    background-color: white;
    margin: 15px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.box-container .h3 {   /*--- este tampoco se que hace bien -----*/
    font-size: 20px;
    color: #9c27b0;
}

/*-------------------------- SECTIONS --------------------------------------------*/
/*-------------------------- SECTION CANCIONES ----------------------------------*/
.box-container-canciones {
    background-color: #fff;
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
}

/*--- ARTICLE CANCIONES -----*/
.cajita-cancion {
    height: 170px;
    width: 150px;
    display: flex;
    background: #9c27b0;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;

}

.cajita-cancion:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
}

.cajita-cancion p {
    padding: 0 15px;
    font-size: 10px;
    text-align: start;
    margin: 0%;
}

.cajita-cancion img {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90px;
    border-radius: 20px;
}

.cajita-cancion h3 {
    display: flex;
    text-align: start;
    align-items: flex-start;
    margin: 0%;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------------- SECTION ALBUMES --------------------------------------------*/
.box-container-albumes {
    background-color: #fff;
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
}

/*--- ARTICLE ALBUMES -----*/
.cajita-albumes {
    height: 170px;
    width: 150px;
    display: flex;
    background: #9c27b0;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;                /*dejarlo hasta que cambiemos la letra*/
}

.cajita-albumes:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
}

.cajita-albumes p {
    padding: 0 15px;
    font-size: 10px;
    text-align: start;
    margin: 0%;
}

.cajita-albumes img {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90px;
    border-radius: 20px;
}

.cajita-albumes h3 {
    display: flex;
    text-align: start;
    align-items: flex-start;
    margin: 0%;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------------- SECTION ARTISTAS --------------------------------------------*/
.box-container-artistas {
    background-color: #fff;
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
}

/*--- ARTICLE ARTISTAS -----*/
.cajita-artistas {
    height: 170px;
    width: 150px;
    display: flex;
    background: #9c27b0;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
}

.cajita-artistas:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
}

.cajita-artistas p {
    padding: 0 15px;
    font-size: 10px;
    text-align: start;
    margin: 0%;
}

.cajita-artistas img {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90px;
    border-radius: 20px;
}

.cajita-artistas h3 {
    display: flex;
    text-align: start;
    align-items: flex-start;
    margin: 0%;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------------- FOOTER --------------------------------------------*/
footer {
    margin: 5px;
    background-color: #9c27b0;
    /* -webkit-box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8); */                       /*preguntar mora*/
    box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
}

footer ul {
    margin: 0px 20%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-section-form {
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}




/*-------------------------- DETAILS -----------------------------------------------------------*/
/*-------------------------- DETAIL ALBUM (falta flexibilidad)--------------------------------------*/

.detalle-del-album{
    display: flex;
    background-color: #9c27b0;
    height: 1800px;
    width: 500px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;    
}
.imagenAlbum{
    padding: 20px 0px 0px 20px;
}
.nombreAlbum{
    color: white;
    padding: 0px 0px 0px 20px;
}

.nombreArtistaDelAlbum{
    color: white;
    padding: 0px 0px 0px 20px;
}


.nombreGeneroAlbum{
    color: white;
    padding: 0px 0px 0px 20px;
}

.listaAlbum li{
    color: white;
    padding: 0px 0px 0px 20px;
}

.publicacionAlbum{
    color: white;
    padding: 0px 0px 0px 20px;
}


/*-------------------------- DETAIL CANCION (falta flexibilidad)--------------------------------------*/
.detalle-de-cancion{
    display: flex;
    background-color: #9c27b0;
    height: 400px;
    width: 500px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;    
}
.imagenAlbumDeCancion{
    padding: 20px 0px 0px 20px;

}
.nombreCancion{
    color: white;
    padding: 0px 0px 0px 20px;
}

.nombreArtistaDeCancion{
    color: white;
    padding: 0px 0px 0px 20px;
}

.nombreAlbumDeCancion{
    color: white;
    padding: 0px 0px 0px 20px;
}

/*-------------------------- DETAIL ARTISTA (falta flexibilidad)--------------------------------------*/
.detalle-del-artista{
    display: flex;
    background-color: #9c27b0;
    height: 400px;
    width: 500px;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;    
}
.imagenArtista{
    padding: 20px 0px 0px 20px;

}
.nombreArtista{
    padding: 20px 0px 0px 20px;
    color: white;
}
.listaArtistaAlbumes{
    color: #fff;
}




/*-------------------------- MEDIA QUERIES --------------------------------------------*/
/*-------------------------- TELEFONO --------------------------------------------*/



/*-------------------------- TABLET --------------------------------------------*/





