@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
    box-sizing: border-box;
}

body {

    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    font-family: Russo One;
    font-size: 1rem;
}

header nav {
    background-color: rgb(113, 182, 182);
    position: fixed;
    width: 100%;
    height: 100px;
}

nav ul li.logo {
    background-image: url(../img/logo-TWM.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
}

.logo-img {
    display: flex;
    width: 150px;
    height: 100;
    margin: 10px;
    padding: 10px;
}

nav {
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul.ul-logo {
    float: left;
}

.ul-buscador{
    display: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul.ul-menu {
    float: right;
}

nav ul li {
    margin: 0;
    padding: 15px 12px 0 12px;
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 60px;
}

nav ul li a {
    color: white;
}

nav ul li.logo {
    background-image: url(../img/dh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-section-form {
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#search-form {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 400px;
    font-family: "raleway", "sans-serif";
    height: 30px;
}

#search-button {
    height: 20px;
    width: 15px;
}

#error-message {
    color: brown;
}