/*------------------------------------- CSS GENERAL ---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondo-negro.jpeg);
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*------------------------------------- HEADER ---------------------------------------------------*/
.logo-img {
    display: flex;
    width: 100px;
    height: 100;
    /* el logo */
    margin: 10px;
    padding: 10px;
}

nav {
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.ul-buscador {
    display: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul li {
    margin: 0;
    padding: 15px 12px 0 12px;
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 60px;
}

nav ul li a {
    color: rgb(8, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 130px;
}

.header-section-form {
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    height: 80px;
    background-color: #9c27b0;
    margin: 5px;
    box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
}

.header-section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 20px;
}

.logo-img {
    display: flex;
    width: 100px;
    height: 100;
    margin: 10px;
    padding: 10px;
}

.header-section-nav {
    display: flex;
    align-items: center;
}

#search-form {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#search-input {
    width: 500px;
    font-family: "garet", "sans-serif";
    height: 40px;
    border-radius: 30px;
}

#search-button {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

/*----------- BOTON MODO OSCURO MODO CLARO --------*/
#modo-oscuro {
    background-color: white;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 4px 4px 6px #cecece;
    margin-top: 25px;
    cursor: pointer;
}

.boton-modo-oscuro {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #c385ce;
    border-radius: 25px;
    transform: scale(.7);
    box-shadow: 3px 3px 8px rgb(125, 15, 165),
        -3px -3px 8px rgb(235, 210, 245);
}

#modo-oscuro .active .boton-modo-oscuro {
    left: 40px;
}


/* --------------------------- BODY ----------------------------------- */
body .active {
    background-image: url(../img/fondo-blanco.jpeg);
}

.canciones {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

/*--------------------------- TITULOS DEL BODY --------------------------------------------*/
.tituloCancion {
    background-color: white;
    margin: 15px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.tituloAlbum {
    background-color: white;
    margin: 15px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.tituloArtista {
    background-color: white;
    margin: 15px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 20px;
}

.box-container .h3 {
    font-size: 20px;
    color: #9c27b0;
}

/*-------------------------- SECTIONS --------------------------------------------*/
/*-------------------------- SECTION CANCIONES ----------------------------------*/
.box-container-canciones {
    background-color: #fff;
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
}

/*--- ARTICLE CANCIONES -----*/
.cajita-cancion {
    height: 170px;
    width: 150px;
    display: flex;
    background: #9c27b0;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    text-decoration: none;
}

.cajita-cancion:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #c385ce;
}

.cajita-cancion p {
    padding: 0 15px;
    font-size: 10px;
    text-align: start;
    margin: 0%;
}

.cajita-cancion img {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90px;
    border-radius: 20px;
}

.cajita-cancion h3 {
    display: flex;
    text-align: start;
    align-items: flex-start;
    margin: 0%;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------------- SECTION ALBUMES --------------------------------------------*/
.box-container-albumes {
    background-color: #fff;
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
}

/*--- ARTICLE ALBUMES -----*/
.cajita-albumes {
    height: 170px;
    width: 150px;
    display: flex;
    background: #9c27b0;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;
}

.cajita-albumes:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #c385ce;
}

.cajita-albumes p {
    padding: 0 15px;
    font-size: 10px;
    text-align: start;
    margin: 0%;
}

.cajita-albumes img {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90px;
    border-radius: 20px;
}

.cajita-albumes h3 {
    display: flex;
    text-align: start;
    align-items: flex-start;
    margin: 0%;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------------- SECTION ARTISTAS --------------------------------------------*/
.box-container-artistas {
    background-color: #fff;
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 20px;
}

/*--- ARTICLE ARTISTAS -----*/
.cajita-artistas {
    height: 170px;
    width: 150px;
    display: flex;
    background: #9c27b0;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
}

.cajita-artistas:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #c385ce;
}

.cajita-artistas p {
    padding: 0 15px;
    font-size: 10px;
    text-align: start;
    margin: 0%;
}

.cajita-artistas img {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90px;
    border-radius: 20px;
}

.cajita-artistas h3 {
    display: flex;
    text-align: start;
    align-items: flex-start;
    margin: 0%;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------------- FOOTER --------------------------------------------*/
footer {
    margin: 5px;
    background-color: #9c27b0;
    box-shadow: 0px -10px 9px -10px rgba(0, 0, 0, .8);
}

footer ul {
    margin: 0px 20%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-section-form {
    display: flex;
    width: 50%;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

/*-------------------------- DETAILS -----------------------------------------------*/
/*-------------------------- DETAIL ALBUM --------------------------------------*/
.detalle-del-album {
    display: flex;
    background-color: #9c27b0;
    height: max-content;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;
}

.imagenAlbum {
    padding: 20px 0px 0px 20px;
}

.nombreAlbum {
    color: white;
    padding: 0px 0px 0px 20px;
}

.nombreArtistaDelAlbum {
    color: white;
    padding: 0px 0px 0px 20px;
}

.nombreGeneroAlbum {
    color: white;
    padding: 0px 0px 0px 20px;
}

.listaAlbum li {
    color: white;
    padding: 0px 0px 0px 20px;
}

.publicacionAlbum {
    color: white;
    padding: 0px 0px 0px 20px;
}

/*-------------------------- DETAIL CANCION --------------------------------------*/
.detalle-de-cancion {
    display: flex;
    background-color: #9c27b0;
    height: 450px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;
}

.imagenAlbumDeCancion {
    padding: 40px 0px 0px 10px;

}

.nombreCancion {
    text-decoration: none;
    color: white;
    padding: 0px 0px 0px 10px;

}

.nombreArtistaDeCancion {
    color: white;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
}

.nombreAlbumDeCancion {
    color: white;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
}

.btnFav {
    width: 150px;
    height: 30px;
    background-color: #c385ce;
    padding: 0px 0px 10px 10px;

}

.btnFav:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #3e0049;
}

/*-------------------------- DETAIL ARTISTA --------------------------------------*/
.detalle-del-artista {
    display: flex;
    background-color: #9c27b0;
    height: max-content;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 15px 2px;
    overflow: hidden;
}

.imagenArtista {
    padding: 20px 0px 0px 20px;

}

.nombreArtista {
    padding: 20px 0px 0px 20px;
    color: white;
}

.listaArtistaAlbumes {
    color: #fff;
}

/*--------------------------  GENRES  --------------------------------------*/
.tituloGeneros {
    color: white;
    display: flex;
    justify-content: space-around;
}

.cajaGeneros {
    display: flex;
    height: 100%px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

.cajita-generos {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    height: 200px;
    background-color: #9c27b0;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cajita-generos:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #c385ce;
}

.cajaGeneros h3 {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
}

.fotitoGeneros {
    width: 110px;
    height: 110px;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
}

/*-------------------------- DETAIL GENRES --------------------------------------*/
h1 {
    color: #fff;
    text-align: center;
}

.detailGenero {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 0px 25px;
}

.detailGenero li {
    width: 180px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #9c27b0;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

.detailGenero li:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #c385ce;
}

.detailGenero li h3 {
    display: flex;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    margin: 5px 5px 5px 5px;

}

.detailGenero li img {
    display: flex;
    width: 60px;
    margin: 5px 5px 5px 5px;
}

/*-------------------------- PLAYLIST --------------------------------------*/
.tituloPlaylist {
    color: white;
    display: flex;
    justify-content: space-around;
}

.tituloFav {
    color: white;
}

#lista {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    background-color: #c385ce;
    border-radius: 20px;
    margin: 15px 15x 15px 0px ;
    /* overflow: scroll; */
}

.cajita-playlist {
    width: 200px;
    height: 300px;
    display: flex;
    margin: 15px 15px 15px 0px ;
    background-color: #9c27b0;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cajita-playlist img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 20px 0 px 0px 0px;
}

.titulitoPlaylist {
    color: #fff;
    margin: 0px;
}

.nombreArtistaPlaylist {
    color: #fff;
}

/*-------------------------- SEARCH-RESULTS----------------------------------------------------------------------------------------*/
.resultadoBusqueda {
    color: #fff;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.cancionBusqueda {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    background-color: #9c27b0;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    flex-direction: column;
}

.cancionBusqueda:hover {
    text-decoration: underline;
    box-shadow: 10px 10px 9px -10px rgba(0, 0, 0, .8);
    background-color: #c385ce;

}

.cancionBusqueda h4 {
    text-decoration: none;
    color: #fff;
    margin: 0%;
}

.cancionBusqueda h5 {
    text-decoration: none;
    color: #fff;
    margin: 0%;
}

/*-------------------------- MEDIA QUERIES --------------------------------------------*/
/*-------------------------- TELEFONO --------------------------------------------*/
@media (max-width: 450px) {


/*----------------------------HOME-------------------------------------------*/
    header {
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #search-input {
        width: 250px;
        justify-content: center;
        margin: 5px 5px 5px 5px;
    }
    form.form{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 700px;
    }


    #modo-oscuro{
        align-items: center;
        justify-content: center;
    }
  
    .tituloCancion {
        width: 80vw;
        align-content: center;
        align-self: center;
        margin: auto;
        margin-top: 20px;
    }

    .box-container-canciones {
        width: 80vw;
        margin: auto;
        margin-top: 20px;
    }

    .tituloAlbum {
        width: 80vw;
        align-content: center;
        align-self: center;
        margin: auto;
        margin-top: 20px;
    }

    .box-container-albumes {
        width: 80vw;
        margin: auto;
        margin-top: 20px;
    }

    .tituloArtista {
        width: 80vw;
        align-content: center;
        align-self: center;
        margin: auto;
        margin-top: 20px;
    }

    .box-container-artistas {
        width: 80vw;
        margin: auto;
        margin-top: 20px;
    }
    .cajaGeneros{
        display: flex;
        height: 1400px;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px 10px 10px 10px;
        overflow: hidden;
    }
/*-----------------------------------PLAYLIST--------------------------------------------*/
    #lista{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .cajita-playlist{
        display: flex;
        flex-wrap: wrap;
    }
/*---------------------------------GENEROS-------------------------------------------------------*/

.cajaGeneros {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

/*---------------------------------RESULTADOS--------------------------------------------------------------*/
.detailGenero{
    align-items: center;
    margin: 0%;
}
/*-------------------------------------FOOTER-------------------------------------------------------------------*/
footer{
    width: 100%;
    height: auto;
}
footer nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
}
footer nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
}